@font-face {
    font-family: 'SnellRoundhand Script';
    src: url('SnellRoundhand-Script.woff2') format('woff2'),
        url('SnellRoundhand-Script.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

